<div class="flex items-center justify-center">
    <!-- Card Container with Image Background -->
    <div class="flex items-center rounded-[100px] p-8 shadow-lg w-[600px] h-[600px]" style="background: url('/images/cardbg2.png') center center / cover no-repeat;">
        <!-- Text Section (Right) -->
        <div class="flex flex-col flex-1 items-center justify-center ml-10 mr-10">
                <div class="font-bold text-4xl text-white mb-3 mr-10"><%= title %></div>
                <div class="text-lg text-white"><%= text %></div>
        </div>
        <!-- Gradient Image Section (Left) -->
        <div class="flex-shrink-0 ml-8">
            <div class="w-[700px] h-[555px] rounded-[100px] relative flex items-center justify-center" style="background: linear-gradient(180deg, #000 0%, #228b5a 60%, #2ee59d 100%);">
                <img
                    src="<%= src %>"
                    alt="Discord Screen"
                    class="w-[600px] h-[455px] object-contain"
                />
            </div>
        </div>
    </div>
</div>
