<div class="flex items-center justify-center">
      <!-- Card Container with Image Background -->
      <div class="flex items-center rounded-[50px] p-12 shadow-lg w-[900px] h-[600px]" style="background: url('/images/cardbg1.png') center center / cover no-repeat;">
            <!-- Gradient Image Section (Left) -->
            <div class="flex-shrink-0 mr-8">
                  <div class="w-[400px] h-[400px] rounded-[40px] relative flex items-center justify-center" style="background: linear-gradient(180deg, #000 0%, #f149c6 100%);">
                        <img
                              src="<%= src %>"
                              alt="Discord Screen"
                              class="w-[600px] h-[500px] object-contain"
                        />
                  </div>
            </div>
            <!-- Text Section (Right) -->
            <div class="flex flex-col flex-1 items-center justify-center ml-8">
                  <div class="font-bold text-3xl text-white mb-4 text-center"><%= title %></div>
                  <div class="text-lg text-white text-center"><%= text %></div>
            </div>
      </div>
</div>
