<!-- Container for the whole title section -->
<div class="flex flex-col w-screen text-start items-center justify-center space-y-10">
    <div class="flex flex-col items-center">
        <!-- Main title -->
        <h1 class="text-5xl font-bold text-white text-center"><%= titolo1 %></h1>
        <!-- Subtitle -->
        <h2 class="text-5xl font-bold text-white text-center mb-2 mt-2"><%= titolo2 %></h2>    
    </div>
    <!-- Download button with rounded corners -->
    <button class="flex items-center px-6 py-3 bg-[#fab1a0] text-blak font-semibold shadow hover:bg-red-400 transition rounded-2xl mb-2">
        <%= button %>
    </button>
</div>